
<div class="stageDisplay">
    <!-- Default Home Stage -->
    <div *ngIf="activeTabId === 0">
      <h2>Welcome to the Home Page</h2>
      <p>This is the default stage for your application. Add new tabs to see more content!</p>
    </div>
  
    <!-- Display Kores for Other Tabs -->
    <ng-container *ngIf="activeTabId !== 0">
      <app-core
        *ngFor="let KoreX of Kores; index as i"
        [coreData]="KoreX"
        (coreMoved)="newPosition($event, i)"
      ></app-core>
    </ng-container>
  </div>