<div class="entireScreen" layout="column"> 
  <div flex class="toolbar" role="banner">

    <div class="tabs tab">
      <mat-tab-group>
    
        <mat-tab class="groundTab">
          <ng-template mat-tab-label>
            <img class="icon" width="40" src="assets\Icon\HallIcon.png" />
            Hall
          </ng-template>
        </mat-tab>
    
        <mat-tab class="groundTab">
          <ng-template mat-tab-label>
            <img class="icon" width="40" src="assets\Icon\WAiiK_logo3.png" />
            WAiiK
          </ng-template>
        </mat-tab>
    
      </mat-tab-group>
    </div>
  
  
    <div class="addStage tab">
      <button mat-button class="addStage">
        <mat-icon>add</mat-icon>
      </button>
    </div>
    
  </div>
  
  <div flex class="stageDisplay">

    <app-core></app-core>
    
  </div>

</div>