<div style="visibility: hidden; position: absolute;"
[style.left]="menuPosition.x"
[style.top]="menuPosition.y"
[matMenuTriggerFor]="menu"
></div>

<svg class="desLineSVG">
    <line [attr.x1]=desLinePos.x1 [attr.y1]=desLinePos.y1 [attr.x2]=desLinePos.x2 [attr.y2]=desLinePos.y2 style="stroke:#DCDCDC;stroke-width:1" [attr.visibility]=designLineVis/>
</svg>


<div class="coreHitBox" (mouseover)="mouseOverCore()" (mouseout)="mouseOutCore()" cdkDragBoundary=".stageDisplay" fxLayout="row" cdkDrag (cdkDragEnded)="onDrop($event)" [attr.width]="shellSize[0] + 25" [attr.height]="shellSize[1]"
    [ngStyle]="initialPos()"
>                                                                                                                                                               

    <!-- Core Menu BUTTON  -->
    <div  cdkDragHandle class="core-menu-handle"  [ngClass]="{'hiddenMenu' : !coreMenuIsVis}" >   
        <button fxLayout="column"  class="core-menu-button" matTooltip="Open Core-Menu or Drag the Core" matTooltipShowDelay="1000"
            (mousedown)="onHoldStart()" (mouseup)="onHoldEnd($event)" >
            <span class="dot"></span>
            <span class="dot"></span>
            <span class="dot"></span>
        </button>
    </div>

    <!-- Core Menu  -->

    <mat-menu #menu="matMenu" >
        <button mat-menu-item [matMenuTriggerFor]="actions">
            <img src="assets\Icon\Actions_Icon.png" class="iconAct">
            <span class="iconText">Actions</span>
        </button>
        <button mat-menu-item [matMenuTriggerFor]="modifications">
            <img src="assets\Icon\Modifications_Icon.png" class="icon">
            <span class="iconText">Modifications</span>
        </button>
        <button mat-menu-item (click)="DesignButtonDyn()" cdkOverlayOrigin #trigger="cdkOverlayOrigin" matTooltip="Open Shell Design Window" matTooltipShowDelay="1000"> 
            <img src="assets\Icon\Design_Icon.png" class="icon">
            <span class="iconText">Design</span>
        </button>
        <div class="gizmoCont">
            <div class="verticalG"><mat-icon class="gizArrowV">arrow_drop_up</mat-icon></div>
            <div class="horizontalG"><mat-icon  class="gizArrowH">arrow_left</mat-icon></div>
            <div class="bothG" cdkDragHandle></div>
            <img src="assets\QuarterCircle.png" class="circleSec">
            <div class="rotCircle"></div>
        </div>
    </mat-menu>


    <mat-menu #actions="matMenu">
        <button mat-menu-item >
            <img src="assets\Icon\Actions_Delete_Icon.png" class="iconAct">
            <span>Delete Core</span>
        </button>
        <button mat-menu-item>
            <img src="assets\Icon\Actions_Duplicate_Icon.png" class="icon">
            <span>Duplicate Core</span>
        </button>
        <button mat-menu-item>
            <img src="assets\Icon\Actions_Hyper_Icon.png" class="icon">
            <span>Hyperlink Core</span>
        </button>
        <button mat-menu-item>
            <img src="assets\Icon\Actions_Bonds_Icon.png" class="icon">
            <span>List of Bonds</span>
        </button>
    </mat-menu>

    <mat-menu #modifications="matMenu">
        <button mat-menu-item>
            <img src="assets\Icon\Mods_Add_Icon.png" class="icon">
            <span>Add Rune</span>
        </button>
        <button mat-menu-item>
            <img src="assets\Icon\Mods_List_Icon.png" class="icon">
            <span>List of Runes</span>
        </button>
    </mat-menu>

    <!-- Design Menu -->
    <ng-template
        cdkConnectedOverlay
        [cdkConnectedOverlayOrigin]="trigger"
        [cdkConnectedOverlayOpen]="designIsOpen"
        (attach)="loadPolly()"
    >
        <div class="designMenu" cdkDrag (cdkDragEnded)="onDesignDrop($event)"  (cdkDragStarted)="onDesHold()"  fxLayout="column">
            <div cdkDragHandle matRipple (mouseup)="getMousePos($event)" class="designDragHandle" matTooltip="Drag the Design Menu" matTooltipShowDelay="800" matTooltipPosition="before">
                <span class="dot2"></span>
                <span class="dot2"></span>
                <span class="dot2"></span>
            </div>
            <mat-tab-group   mat-align-tabs="start" fxFlex  (focusChange)="closeDesign($event)" >

                <!-- Design Menu FRAME TAB -->
                <mat-tab class="tabDes">
                    <ng-template mat-tab-label>
                        <img src="assets\Icon\Design_Frame.png" class="iconDesTab">
                        Frame
                    </ng-template>

                    <div fxLayout="row" class="desWin2">

                        <!-- Frame Tab TOOLS -->
                        <div class="desTools" fxLayout="column">

                            <mat-button-toggle-group #desFrameOne="matButtonToggleGroup" fxLayout="row" class="desFrameSelOne">

                                <mat-button-toggle value="Transform" matTooltip="Transform" matTooltipShowDelay="500" matTooltipPosition="before">
                                    <img src="assets\Icon\Design_Frame_Transform.png" class="iconC">
                                </mat-button-toggle>

                                <mat-button-toggle value="Select" matTooltip="Select" matTooltipShowDelay="500" matTooltipPosition="after">
                                    <img src="assets\Icon\Design_Frame_Select.png" class="iconC">
                                </mat-button-toggle>

                                <mat-button-toggle value="Spline" matTooltip="Spline" matTooltipShowDelay="500" matTooltipPosition="before">
                                    <img src="assets\Icon\Design_Frame_Spline.png" class="iconC">
                                </mat-button-toggle>

                                <mat-button-toggle value="Blob" matTooltip="Blob" matTooltipShowDelay="500" matTooltipPosition="after">
                                    <img src="assets\Icon\Design_Frame_Blob.png" class="iconC">
                                </mat-button-toggle>

                                <mat-button-toggle value="Polyline" matTooltip="Polyline" matTooltipShowDelay="500" matTooltipPosition="before">
                                    <img src="assets\Icon\Design_Frame_Polyline.png" class="iconD">
                                </mat-button-toggle>

                                <mat-button-toggle value="Shapes" matTooltip="Shapes" matTooltipShowDelay="500" matTooltipPosition="after">
                                    <img src="assets\Icon\Design_Frame_Shapes.png" class="iconV">
                                </mat-button-toggle>

                            </mat-button-toggle-group>

                            <div class="toolRow" fxLayout="row">

                                <mat-button-toggle *ngIf="desFrameOne.value === 'Shapes'"   fxFlex 
                                    value="Regular" matTooltip="Regular" matTooltipShowDelay="500" matTooltipPosition="after">
                                    <img src="assets\Icon\Design_Frame_AspectRatio.png" class="iconC">
                                </mat-button-toggle>

                                <button  *ngIf="selectedShapeFrame === 'Polygon' && desFrameOne.value === 'Shapes'" 
                                    [matMenuTriggerFor]="numberSides"  class="ToolButtonX"
                                    matTooltip="Number of Sides" matTooltipShowDelay="500" matTooltipPosition="before">
                                    {{numOfSides}} 
                                </button>

                            </div>

                            <div class="toolRow" *ngIf="desFrameOne.value === 'Shapes'"  >
                                <mat-form-field appearance="fill" class="shapesForm" matTooltip="Select Frame Shape" matTooltipShowDelay="500" matTooltipPosition="before">
                                    <mat-select [(value)]="selectedShapeFrame" class="shapesFormSel"> 
                                        <mat-option value="elypse">Circle</mat-option>
                                        <mat-option value="Polygon">Polygon</mat-option>
                                    </mat-select>
                                </mat-form-field>
                            </div>


                            <div class="toolRow" fxLayout="row">

                                <button  [matMenuTriggerFor]="transparencyFrame"  class="ToolButtonOne"
                                    fxFlex matTooltip="Transparency" matTooltipShowDelay="500" matTooltipPosition="before">
                                    <img src="assets\Icon\Design_Frame_Transparency.png" class="iconT"> 
                                </button>

                                <button  [matMenuTriggerFor]="colourFrame" class="ToolButtonOne" [style.background]="colorFrame"
                                    fxFlex matTooltip="Colour" matTooltipShowDelay="500" matTooltipPosition="after"> 
                                    <img src="assets\Icon\Design_Frame_Colour.png" class="iconT"> 
                                </button>

                            </div>

                            <div class="toolRow" fxLayout="row">

                                <button  [matMenuTriggerFor]="Framethickness" class="ToolButtonOne"
                                    fxFlex matTooltip="Line Thickness" matTooltipShowDelay="500" matTooltipPosition="before"> 
                                    <img src="assets\Icon\Design_Frame_Thickness.png" class="iconT"> 
                                </button>

                                <button  [matMenuTriggerFor]="emmitance" class="ToolButtonOne"
                                    fxFlex matTooltip="Frame Emmitance" matTooltipShowDelay="500" matTooltipPosition="after"> 
                                    <img src="assets\Icon\Design_Frame_Emmitance.png" class="iconT"> 
                                </button>

                            </div>

                            <div class="toolRow">
                                <button  fxFlex  class="ToolButtonOne"
                                    matTooltip="Add Frame Instance" matTooltipShowDelay="500" matTooltipPosition="before"> 
                                    <img src="assets\Icon\Design_Frame_AddFrameInst.png" class="iconT"> 
                                </button>
                            </div>

                        </div>

                        <!-- Frame Tab DISPLAY -->
                        <div class="desDivs">
                            <div [ngSwitch]="coreData.frameFile" class="svgDesign">

                                <!-- CIRCLE/ELLIPSE Frame -->
                                <svg *ngSwitchCase="'ellipse'"  class="svgDesign">
                        
                                    <text *ngIf="datumType === 'text'"  [attr.y]="frameThickness/2" [attr.x]="frameThickness/2"
                                        [attr.x]="textX" [attr.y]="textY" fill="black" > {{coreData.datumText}} </text>
                        
                                    <image *ngIf="datumType === 'image'"  [attr.y]="frameThickness/2" [attr.x]="frameThickness/2"
                                        [attr.href]="coreData.datumText" [attr.width]="coreData.datumSize[0]" opacity="0.5" /> 

                                    <text *ngIf="datumType === 'text'"  [attr.y]="frameThickness/2" [attr.x]="frameThickness/2"
                                        [ngStyle]="{'clip-path': 'ellipse('+ shellSize[0]/(2*browserZoomLevel)  + 'px ' + shellSize[1]/(2*browserZoomLevel) + 'px at ' + (shellSize[0]/(2*browserZoomLevel) ) + 'px ' + (shellSize[1]/(2*browserZoomLevel) ) + 'px )'}"
                                        [attr.x]="textX" [attr.y]="textY" fill="black" > {{coreData.datumText}} </text>
                        
                                    <image *ngIf="datumType === 'image'"  [attr.y]="frameThickness/2" [attr.x]="frameThickness/2"
                                        [ngStyle]="{'clip-path': 'ellipse('+ shellSize[0]/(2*browserZoomLevel)  + 'px ' + shellSize[1]/(2*browserZoomLevel) + 'px at ' + (shellSize[0]/(2*browserZoomLevel) ) + 'px ' + (shellSize[1]/(2*browserZoomLevel) ) + 'px )'}"
                                        [attr.href]="coreData.datumText" [attr.width]="coreData.datumSize[0]" /> 
                        
                        
                                    <ellipse *ngIf="shellShape === 'ellipse'"
                                        [attr.rx]="coreData.size[0]/2" [attr.ry]="coreData.size[1]/2" [attr.cx]="coreData.size[0]/2 + frameThickness/2"  [attr.cy]="coreData.size[1]/2  + frameThickness/2"
                                        [attr.stroke-width]="frameThickness" [attr.stroke]="colorFrame" [attr.stroke-opacity]="frameTransparency/100" 
                                        fill="white" fill-opacity="0" />
                                    
                                </svg>
                                
                        
                                <!-- POLYLINE Frame  -->
                                <svg *ngSwitchCase="'polyline'" xmlns="http://www.w3.org/2000/svg" id="SVGpolygonFrameF" #svgPolyFrameF  class="svgDesign" >
                                    
                                    <text *ngIf="datumType === 'text'"  [attr.x]="textX" [attr.y]="textY" fill="black" > {{coreData.datumText}} </text>
                        
                                    <image *ngIf="datumType === 'image'"  [attr.href]="coreData.datumText" [attr.width]="coreData.datumSize[0]" opacity="0.5" /> 

                                    <text *ngIf="datumType === 'text'"  [attr.x]="textX" [attr.y]="textY" fill="black" 
                                    [ngStyle]="{'clip-path':'polygon(' + pointsPXtext + ')'}" > {{coreData.datumText}} </text>
                    
                                    <image *ngIf="datumType === 'image'"  [attr.href]="coreData.datumText" [attr.width]="coreData.datumSize[0]"
                                    [ngStyle]="{'clip-path':'polygon(' + pointsPXtext + ')'}" /> 
                                    
                                    <polygon
                                        id="polygonFrameF" #svgPolyF points="" class="shellX"
                                        [attr.stroke-width]="frameThickness" [attr.stroke]="colorFrame" [attr.stroke-opacity]="frameTransparency/100"
                                        fill="white" fill-opacity="0" />
                                        
                                </svg>
                        
                                <!-- RECTANGLE Frame -->
                                <svg *ngSwitchCase="'rectangle'"   class="svgDesign" >
                        
                                    <text *ngIf="datumType === 'text'"  
                                        [attr.x]="textX" [attr.y]="textY" fill="black" opacity="0.5"> {{coreData.datumText}} </text>
                        
                                    <image *ngIf="datumType === 'image'"
                                        [attr.href]="coreData.datumText" [attr.width]="coreData.datumSize[0]" opacity="0.5" />


                                    <text *ngIf="datumType === 'text'"  
                                        [attr.x]="textX" [attr.y]="textY" fill="black" 
                                        [ngStyle]="{'clip-path':'inset( 0px ' + (coreData.datumSize[0] - shellSize[0])/browserZoomLevel + 'px ' + ((coreData.datumSize[0]*(imageHeight/imageWidth)) - shellSize[1])/(browserZoomLevel) + 'px 0px round ' + (rectBorderRadius + (coreData.frameThickness/2))/(browserZoomLevel) +'px )'}" 
                                        > {{coreData.datumText}} </text>
                        
                                    <image *ngIf="datumType === 'image'" id="rectImage"
                                        [ngStyle]="{'clip-path':'inset( 0px ' + (coreData.datumSize[0] - shellSize[0])/browserZoomLevel + 'px ' + ((coreData.datumSize[0]*(imageHeight/imageWidth)) - shellSize[1])/(browserZoomLevel) + 'px 0px round ' + (rectBorderRadius + (coreData.frameThickness/2))/(browserZoomLevel) +'px )'}"
                                        [attr.href]="coreData.datumText" [attr.width]="coreData.datumSize[0]" />   
            
                                    
                                    <rect [attr.rx]="rectBorderRadius +'px'" [attr.rx]="rectBorderRadius +'px'" class="shellX"
                                        [attr.x]="frameThickness/2"  [attr.y]="frameThickness/2"  [attr.width]="shellSize[0] - (frameThickness)" [attr.height]="shellSize[1] - (frameThickness)"  
                                        [attr.stroke-width]="frameThickness" [attr.stroke]="colorFrame" [attr.stroke-opacity]="frameTransparency/100" 
                                        fill="white" fill-opacity="0" />
                        
                                </svg>
                            </div>
                        </div>
                    </div>
                </mat-tab>
            
                <!-- Design Menu GLAZING TAB -->
                <mat-tab class="tabDes">
                    <ng-template mat-tab-label>
                        <img src="assets\Icon\Design_Glazing.png" class="iconDesTab">
                        Glazing
                    </ng-template>
                    
                    <div fxLayout="row" class="desWin2">

                        <!-- Glazing Tab TOOLS -->
                        <div class="desTools" fxLayout="column">
                            <div class="menuText">Background</div> 

                            <div class="toolRow" fxLayout="row">

                                <button  [matMenuTriggerFor]="transparencyGlazing"  class="ToolButtonOne"
                                    fxFlex matTooltip="Background Transparency" matTooltipShowDelay="500" matTooltipPosition="before">
                                    <img src="assets\Icon\Design_Frame_Transparency.png" class="iconT"> 
                                </button>

                                <button  [matMenuTriggerFor]="colourGlazingBackground" class="ToolButtonOne" [style.background]="colorBackground"
                                    fxFlex matTooltip="Background Colour" matTooltipShowDelay="500" matTooltipPosition="after"> 
                                    <img src="assets\Icon\Design_Frame_Colour.png" class="iconT"> 
                                </button>

                            </div>

                            <mat-divider></mat-divider>
                            
                            <div class="menuText">Drawing Tools</div>

                            <mat-button-toggle-group #desFrameTwo="matButtonToggleGroup" fxLayout="row" class="desFrameSelOne">

                                <mat-button-toggle value="Pencil" matTooltip="Pencil" matTooltipShowDelay="500" matTooltipPosition="before">
                                    <img src="assets\Icon\Design_Glazing_Pencil.png" class="iconE">
                                </mat-button-toggle>

                                <mat-button-toggle value="Spline" matTooltip="Spline" matTooltipShowDelay="500" matTooltipPosition="after">
                                    <img src="assets\Icon\Design_Frame_Spline.png" class="iconE">
                                </mat-button-toggle>

                                <mat-button-toggle value="Thickness" matTooltip="Thickness" matTooltipShowDelay="500" matTooltipPosition="before"
                                    [matMenuTriggerFor]="Drawingthickness">
                                    <img src="assets\Icon\Design_Frame_Thickness.png" class="iconF">
                                </mat-button-toggle>

                                <mat-button-toggle value="Eraser"matTooltip="Eraser" matTooltipShowDelay="500" matTooltipPosition="after">
                                    <img src="assets\Icon\Design_Glazing_Eraser.png" class="iconF">
                                </mat-button-toggle>

                                <mat-button-toggle value="Blob" matTooltip="Blob" matTooltipShowDelay="500" matTooltipPosition="before">
                                    <img src="assets\Icon\Design_Frame_Blob.png" class="iconG">
                                </mat-button-toggle>

                                <mat-button-toggle value="Shapes" matTooltip="Shapes" matTooltipShowDelay="500" matTooltipPosition="after">
                                    <img src="assets\Icon\Design_Frame_Shapes.png" class="iconD">
                                </mat-button-toggle>

                            </mat-button-toggle-group>

                            <div class="toolRow" fxLayout="row">

                                <mat-button-toggle *ngIf="desFrameTwo.value === 'Shapes'"   fxFlex 
                                    value="Regular" matTooltip="Regular" matTooltipShowDelay="500" matTooltipPosition="before">
                                    <img src="assets\Icon\Design_Frame_AspectRatio.png" class="iconC">
                                </mat-button-toggle>

                                <button  *ngIf="selectedShapeDrawing === 'Polygon' && desFrameTwo.value === 'Shapes'" 
                                    [matMenuTriggerFor]="numberSides"  class="ToolButtonX"
                                    matTooltip="Number of Sides" matTooltipShowDelay="500" matTooltipPosition="after">
                                    {{numOfSides}} 
                                </button>

                            </div>

                            <div class="toolRow" *ngIf="desFrameTwo.value === 'Shapes'"  >
                                <mat-form-field appearance="fill" class="shapesForm" matTooltip="Select Frame Shape" matTooltipShowDelay="500" matTooltipPosition="before">
                                    <mat-select [(value)]="selectedShapeDrawing" class="shapesFormSel"> 
                                        <mat-option value="elypse">Circle</mat-option>
                                        <mat-option value="Polygon">Polygon</mat-option>
                                    </mat-select>
                                </mat-form-field>
                            </div>

                            <div class="toolRow" fxLayout="row">

                                <button  [matMenuTriggerFor]="transparencyDrawing"  class="ToolButtonOne"
                                    fxFlex matTooltip="Drawing Transparency" matTooltipShowDelay="500" matTooltipPosition="before">
                                    <img src="assets\Icon\Design_Frame_Transparency.png" class="iconT"> 
                                </button>

                                <button  [matMenuTriggerFor]="colourGlazingDrawing" class="ToolButtonOne" [style.background]="colorDrawing"
                                    fxFlex matTooltip="Drawing Colour" matTooltipShowDelay="500" matTooltipPosition="after"> 
                                    <img src="assets\Icon\Design_Frame_Colour.png" class="iconT"> 
                                </button>

                            </div>

                        </div>

                        <!-- Glazing Tab DISPLAY -->
                        <div class="desDivs">
                            <div [ngSwitch]="coreData.frameFile"  class="svgDesign" >

                                <!-- CIRCLE/ELLIPSE Glazing -->
                                <svg *ngSwitchCase="'ellipse'" class="svgDesign" >
                        
                                    <text *ngIf="datumType === 'text'"  [attr.y]="frameThickness/2" [attr.x]="frameThickness/2"
                                        [attr.x]="textX" [attr.y]="textY" fill="black" > {{coreData.datumText}} </text>
                        
                                    <image *ngIf="datumType === 'image'"  [attr.y]="frameThickness/2" [attr.x]="frameThickness/2"
                                        [attr.href]="coreData.datumText" [attr.width]="coreData.datumSize[0]" /> 

                        
                                    <ellipse *ngIf="shellShape === 'ellipse'"
                                        [attr.rx]="coreData.size[0]/2" [attr.ry]="coreData.size[1]/2" [attr.cx]="coreData.size[0]/2 + frameThickness/2"  [attr.cy]="coreData.size[1]/2  + frameThickness/2"
                                        [attr.stroke-width]="frameThickness" [attr.stroke]="colorFrame" [attr.stroke-opacity]="frameTransparency/100" 
                                        [attr.fill]="colorBackground" [attr.fill-opacity]="glazingTransparency/100" />
                                    
                                </svg>
                        
                                <!-- POLYLINE Glazing -->
                                <svg *ngSwitchCase="'polyline'" xmlns="http://www.w3.org/2000/svg" id="SVGpolygonFrameG" #svgPolyFrameG  class="svgDesign"  >
                                    
                                    <text *ngIf="datumType === 'text'"  [attr.x]="textX" [attr.y]="textY" fill="black" > {{coreData.datumText}} </text>
                        
                                    <image *ngIf="datumType === 'image'"  [attr.href]="coreData.datumText" [attr.width]="coreData.datumSize[0]" /> 
                                    
                                    <polygon 
                                        id="polygonFrameG" #svgPolyG points="" class="shellX" 
                                        [attr.stroke-width]="frameThickness" [attr.stroke]="colorFrame" [attr.stroke-opacity]="frameTransparency/100" 
                                        [attr.fill]="colorBackground" [attr.fill-opacity]="glazingTransparency/100" />
                                        
                                </svg>
                        
                                <!-- RECTANGLE Glazing -->
                                <svg *ngSwitchCase="'rectangle'" class="svgDesign" >
                        
                                    <text *ngIf="datumType === 'text'"  
                                        [attr.x]="textX" [attr.y]="textY" fill="black" > {{coreData.datumText}} </text>
                        
                                    <image *ngIf="datumType === 'image'"
                                        [attr.href]="coreData.datumText" [attr.width]="coreData.datumSize[0]"/>             
                                    
                                    
                                    <rect [attr.rx]="rectBorderRadius +'px'" ry="10px" class="shellX"
                                        [attr.x]="frameThickness/2"  [attr.y]="frameThickness/2"  [attr.width]="shellSize[0] - (frameThickness)" [attr.height]="shellSize[1] - (frameThickness)"  
                                        [attr.stroke-width]="frameThickness" [attr.stroke]="colorFrame" [attr.stroke-opacity]="frameTransparency/100" 
                                        [attr.fill]="colorBackground" [attr.fill-opacity]="glazingTransparency/100" />
                        
                                </svg>
                            </div>
                        </div>
                    </div>
                </mat-tab>
            
                <!-- Design Menu DATUM TAB -->
                <mat-tab class="tabDes">
                    <ng-template mat-tab-label>
                        <img src="assets\Icon\Design_Datum.png" class="iconDesTab">
                        Datum
                    </ng-template>
                    
                    <div fxLayout="row" class="desWin2">

                        <!-- Datum Tab TOOLS -->
                        <div class="desTools" fxLayout="column">

                            <mat-form-field appearance="fill" matTooltip="Datum Type" matTooltipShowDelay="500" matTooltipPosition="before" class="checkedDes4">
                                <mat-label>Datum Type</mat-label>
                                <mat-select [(value)]="selectedDatumType">
                                  <mat-option value="verse">Verse</mat-option>
                                  <mat-option value="image">Image</mat-option>
                                  <mat-option value="file">File</mat-option>
                                  <mat-option value="link">link</mat-option>
                                </mat-select>
                            </mat-form-field>

                            <div *ngIf="selectedDatumType === 'verse'" class="toolTitle1">Verse Tools</div>

                            <div #fontPickerElement=ngxFontPicker [(fontPicker)]="fontX" [fpWidth]="'320px'" [fpPosition]="'bottom'" class="desButtonX" [fpStyleSelect]=false [fpSizeSelect]=false
                                *ngIf="selectedDatumType === 'verse'">
                                <button  fxFlex  class="desButtonX"
                                    matTooltip="Change Datum's Font" matTooltipShowDelay="500" matTooltipPosition="before"> 
                                    {{fontX.family}} 
                                </button>
                            </div>

                            <div class="toolRow" fxLayout="row" *ngIf="selectedDatumType === 'verse'">

                                <mat-button-toggle fxFlex matTooltip="Bold" matTooltipShowDelay="500" matTooltipPosition="before" class="buttonH"> 
                                    <img fxFlex src="assets\Icon\Design_Datum_Bold.png" class="iconHtwo"> 
                                </mat-button-toggle>

                                <mat-button-toggle fxFlex matTooltip="Italics" matTooltipShowDelay="500" class="buttonH">
                                    <img fxFlex src="assets\Icon\Design_Datum_Italics.png" class="iconHtwo">
                                </mat-button-toggle>

                                <mat-button-toggle fxFlex matTooltip="Underscore" matTooltipShowDelay="500" matTooltipPosition="after" class="buttonH">
                                    <img fxFlex src="assets\Icon\Design_Datum_Underscore.png" class="iconH">
                                </mat-button-toggle>

                            </div>

                            <div class="toolRow" fxLayout="row" *ngIf="selectedDatumType === 'verse'">
                                <button fxFlex matTooltip="Font Size" matTooltipShowDelay="500" matTooltipPosition="before"> 16 </button>
                                <button [matMenuTriggerFor]="colourDatum"
                                        fxFlex matTooltip="Colour" matTooltipShowDelay="500" matTooltipPosition="after"> 
                                    <svg width="30" height="25" margin="0">
                                        <text x="8" y="18" fill="black" font-size="20">A</text>
                                        <svg y="20" width="30" height="8" margin="0">
                                            <rect width="30" height="8" [style.fill]="colorText" />
                                        </svg>
                                    </svg>
                                </button>
                            </div>

                            <div class="toolRow" fxLayout="row" *ngIf="selectedDatumType === 'verse'">
                                <button fxFlex matTooltip="Justification" matTooltipShowDelay="500" matTooltipPosition="before" class="datumBut2"> <img src="assets\Icon\Design_Datum_Justify.png" class="iconT"> </button>
                                <button fxFlex matTooltip="List" matTooltipShowDelay="500" matTooltipPosition="after" class="datumBut2"> <img src="assets\Icon\Design_Datum_List.png" class="iconF"> </button>
                            </div>

                            <mat-divider></mat-divider>
                            <div class="datumBut2"></div>
                            <mat-divider></mat-divider>

                            <div fxLayout="column" class="checkedDes3">
                                <mat-checkbox class="checkedDes" fxFlex matTooltip="Share Datum with other Cores" matTooltipShowDelay="500" matTooltipPosition="before"><div class="checkedDes3">cast datum</div></mat-checkbox>
                                <mat-checkbox class="checkedDes" fxFlex matTooltip="Display Core's Name in Shell" matTooltipShowDelay="500" matTooltipPosition="after"><div class="checkedDes3">show name</div></mat-checkbox>
                            </div>

                            <mat-divider></mat-divider>

                            <div class="toolRow">
                                <button fxFlex color="warn" fxFlex>Clear Datum</button>
                            </div>

                        </div>

                        <!-- Datum Tab DISPLAY -->
                        
                        <div class="desDivs">
                            <div [ngSwitch]="coreData.frameFile" class="svgDesign">

                                <!-- CIRCLE/ELLIPSE Datum -->
                                <svg *ngSwitchCase="'ellipse'" class="svgDesign"  >
                        
                                    <text *ngIf="datumType === 'text'"  [attr.y]="frameThickness/2" [attr.x]="frameThickness/2"
                                        [attr.x]="textX" [attr.y]="textY" fill="black" > {{coreData.datumText}} </text>
                        
                                    <image *ngIf="datumType === 'image'"  [attr.y]="frameThickness/2" [attr.x]="frameThickness/2"
                                        [attr.href]="coreData.datumText" [attr.width]="coreData.datumSize[0]" /> 
                        
                                    <ellipse *ngIf="shellShape === 'ellipse'"
                                        [attr.rx]="coreData.size[0]/2" [attr.ry]="coreData.size[1]/2" [attr.cx]="coreData.size[0]/2 + frameThickness/2"  [attr.cy]="coreData.size[1]/2  + frameThickness/2"
                                        [attr.stroke-width]="frameThickness" stroke="white" stroke-opacity="0.5" fill="white" fill-opacity="0.1" />
                                    
                                </svg>
                        
                                <!-- POLYLINE Datum -->
                                <svg *ngSwitchCase="'polyline'" xmlns="http://www.w3.org/2000/svg" id="SVGpolygonFrameD" #svgPolyFrameD class="svgDesign"  >
                                    
                                    <text *ngIf="datumType === 'text'"  [attr.x]="textX" [attr.y]="textY" fill="black" > {{coreData.datumText}} </text>
                        
                                    <image *ngIf="datumType === 'image'"  [attr.href]="coreData.datumText" [attr.width]="coreData.datumSize[0]" /> 
                                    
                                    <polygon *ngIf="shellShape === 'polyline'"
                                        id="polygonFrameD" #svgPolyD points="" class="shellX" 
                                        [attr.stroke-width]="frameThickness" stroke="white" stroke-opacity="0.5" fill="white" fill-opacity="0.1"  />
                                        
                                </svg>
                        
                                <!-- RECTANGLE Datum -->
                                <svg *ngSwitchCase="'rectangle'" class="svgDesign"   >
                        
                                    <text *ngIf="datumType === 'text'"  
                                        [attr.x]="textX" [attr.y]="textY" fill="black" > {{coreData.datumText}} </text>
                        
                                    <image *ngIf="datumType === 'image'"
                                        [attr.href]="coreData.datumText" [attr.width]="coreData.datumSize[0]"/>             
                                    
                                    
                                    <rect [attr.rx]="rectBorderRadius +'px'" ry="10px" class="shellX"
                                        [attr.x]="frameThickness/2"  [attr.y]="frameThickness/2"  [attr.width]="shellSize[0] - (coreData.frameThickness)" [attr.height]="shellSize[1] - (frameThickness)"  
                                        [attr.stroke-width]="frameThickness" stroke="white" stroke-opacity="0.5" fill="white" fill-opacity="0.1" />
                        
                                </svg>
                            </div>
                        </div>
                    </div>
                </mat-tab>

                <!-- Close Button   frameThickness-->
                <mat-tab >
                    <ng-template mat-tab-label>
                        <mat-icon matTooltip="Close Design Window">close</mat-icon>
                    </ng-template>
                </mat-tab>
            </mat-tab-group>
        </div>
    </ng-template>

    <!-- Core Menu sub-menues -->

        <!-- FRAME TAB -->

    <mat-menu #transparencyFrame="matMenu" >
        <div (click)="$event.stopPropagation()">
            <mat-form-field class="example-margin example-width" appearance="fill">
                <input matInput type="number" [(ngModel)]="frameTransparency">
            </mat-form-field>
            <div class="TranspCont">
                <mat-slider invert="true"  class="TransparencyS"
                    [(ngModel)]="frameTransparency"
                    thumbLabel
                    [displayWith]="formatLabel"
                    tickInterval="1"
                    step="1"
                    min="0"
                    max="100"
                ></mat-slider>
            </div>
        </div>
    </mat-menu>

    <mat-menu #colourFrame="matMenu"  >
        
        <span [style.background]="colorFrame" [cpToggle]="true" [cpDialogDisplay]="'inline'"
                [cpCancelButton]="true" [(colorPicker)]="colorFrame"></span>

    </mat-menu>

    <mat-menu #numberSides="matMenu">

    </mat-menu>

    <mat-menu #emmitance="matMenu">
        <mat-slider></mat-slider>
    </mat-menu>

    <mat-menu #Framethickness="matMenu">
        <div class="thickMenu" fxLayout="row" (click)="$event.stopPropagation()">
            <div FxFlex class="thickNum" >
                <p style="font-size:25px;" >
                    {{frameThickness}}
                </p>
            </div>
            <div FxFlex class="thickButOne" >
                <button class="thickButTwo" (click)="frameThickUp()">
                    <img src="assets\Icon\arrowUp.png" class="iconTh">
                </button>
                <button class="thickButTwo" (click)="frameThickDown()"> 
                    <img src="assets\Icon\arrowDown.png" class="iconTh">
                </button>
            </div>
        </div>
    </mat-menu>

    <mat-menu #Drawingthickness="matMenu">
        <div class="thickMenu" fxLayout="row" (click)="$event.stopPropagation()">
            <div FxFlex class="thickNum" >
                <p style="font-size:25px;" >
                    {{drawingThickness}}
                </p>
            </div>
            <div FxFlex class="thickButOne" >
                <button class="thickButTwo" (click)="drawingThickUp()">
                    <img src="assets\Icon\arrowUp.png" class="iconTh">
                </button>
                <button class="thickButTwo" (click)="drawingThickDown()"> 
                    <img src="assets\Icon\arrowDown.png" class="iconTh">
                </button>
            </div>
        </div>
    </mat-menu>

        <!-- GLAZING TAB -->
    <mat-menu #colourGlazingBackground="matMenu"  >
        
        <span [style.background]="colorBackground" [cpToggle]="true" [cpDialogDisplay]="'inline'"
            [cpCancelButton]="true" [(colorPicker)]="colorBackground"></span>
    
    </mat-menu>
    <mat-menu #colourGlazingDrawing="matMenu"  >
        
        <span [style.background]="colorDrawing" [cpToggle]="true" [cpDialogDisplay]="'inline'"
            [cpCancelButton]="true" [(colorPicker)]="colorDrawing"></span>
    
    </mat-menu>

    <mat-menu #transparencyDrawing="matMenu" >
        <div (click)="$event.stopPropagation()">
            <mat-form-field class="example-margin example-width" appearance="fill">
                <input matInput type="number" [(ngModel)]="drawingTransparency">
            </mat-form-field>
            <div class="TranspCont">
                <mat-slider invert="true"  class="TransparencyS"
                    [(ngModel)]="drawingTransparency"
                    thumbLabel
                    [displayWith]="formatLabel"
                    tickInterval="1"
                    step="1"
                    min="0"
                    max="100"
                ></mat-slider>
            </div>
        </div>
    </mat-menu>

    <mat-menu #transparencyGlazing="matMenu">
        <div (click)="$event.stopPropagation()">
            <mat-form-field class="example-margin example-width" appearance="fill">
                <input matInput type="number" [(ngModel)]="glazingTransparency">
            </mat-form-field>
            <div class="TranspCont">
                <mat-slider invert="true"  class="TransparencyS"
                    [(ngModel)]="glazingTransparency"
                    thumbLabel
                    [displayWith]="formatLabel"
                    tickInterval="1"
                    step="1"
                    min="0"
                    max="100"
                ></mat-slider>
            </div>
        </div>
    </mat-menu>

        <!-- DATUM TAB -->
    <mat-menu #colourDatum="matMenu"  >
        
        <span [style.background]="colorText" [cpToggle]="true" [cpDialogDisplay]="'inline'"
            [cpCancelButton]="true" [(colorPicker)]="colorText"></span>
        
    </mat-menu>


    <!-- Shell -->

    <div [ngSwitch]="coreData.frameFile">

        <!-- CIRCLE/ELLIPSE SHELL -->
        <svg *ngSwitchCase="'ellipse'" class="svgShell"  [attr.width]="shellSize[0] + frameThickness" [attr.height]="shellSize[1] + frameThickness">

            <text *ngIf="datumType === 'text'"  [attr.y]="frameThickness/2" [attr.x]="frameThickness/2"
                [ngStyle]="{'clip-path': 'ellipse('+ shellSize[0]/(2*browserZoomLevel)  + 'px ' + shellSize[1]/(2*browserZoomLevel) + 'px at ' + (shellSize[0]/(2*browserZoomLevel) ) + 'px ' + (shellSize[1]/(2*browserZoomLevel) ) + 'px )'}"
                [attr.x]="textX" [attr.y]="textY" fill="black" > {{coreData.datumText}} </text>

            <image *ngIf="datumType === 'image'"  [attr.y]="frameThickness/2" [attr.x]="frameThickness/2"
                [ngStyle]="{'clip-path': 'ellipse('+ shellSize[0]/(2*browserZoomLevel)  + 'px ' + shellSize[1]/(2*browserZoomLevel) + 'px at ' + (shellSize[0]/(2*browserZoomLevel) ) + 'px ' + (shellSize[1]/(2*browserZoomLevel) ) + 'px )'}"
                [attr.href]="coreData.datumText" [attr.width]="coreData.datumSize[0]" /> 

            <ellipse *ngIf="shellShape === 'ellipse'"
                [attr.rx]="coreData.size[0]/2" [attr.ry]="coreData.size[1]/2" [attr.cx]="coreData.size[0]/2 + frameThickness/2"  [attr.cy]="coreData.size[1]/2  + frameThickness/2"
                [attr.stroke-width]="frameThickness" [attr.stroke]="colorFrame" [attr.stroke-opacity]="frameTransparency/100" 
                [attr.fill]="colorBackground" [attr.fill-opacity]="glazingTransparency/100" />
            
        </svg>

        <!-- POLYLINE SHELL -->
        <svg *ngSwitchCase="'polyline'" xmlns="http://www.w3.org/2000/svg" id="SVGpolygonFrame" #svgPolyFrame class="svgShell"  [attr.width]="shellSize[0] + frameThickness" [attr.height]="shellSize[1] + frameThickness">
            
            <text *ngIf="datumType === 'text'"  [attr.x]="textX" [attr.y]="textY" fill="black" 
                [ngStyle]="{'clip-path':'polygon(' + pointsPXtext + ')'}" > {{coreData.datumText}} </text>

            <image *ngIf="datumType === 'image'"  [attr.href]="coreData.datumText" [attr.width]="coreData.datumSize[0]"
                [ngStyle]="{'clip-path':'polygon(' + pointsPXtext + ')'}" /> 
            
            <polygon
                id="polygonFrame" #svgPoly points="" class="shellX" 
                [attr.stroke-width]="frameThickness" [attr.stroke]="colorFrame" [attr.stroke-opacity]="frameTransparency/100" 
                [attr.fill]="colorBackground" [attr.fill-opacity]="glazingTransparency/100" />
                
        </svg>

        <!-- RECTANGLE SHELL -->
        <svg *ngSwitchCase="'rectangle'"  class="svgShell" [attr.width]="shellSize[0]" [attr.height]="shellSize[1]" >

            <text *ngIf="datumType === 'text'"  
                [attr.x]="textX" [attr.y]="textY" fill="black" 
                [ngStyle]="{'clip-path':'inset( 0px ' + (coreData.datumSize[0] - shellSize[0])/browserZoomLevel + 'px ' + ((coreData.datumSize[0]*(imageHeight/imageWidth)) - shellSize[1])/(browserZoomLevel) + 'px 0px round ' + (rectBorderRadius + (coreData.frameThickness/2))/(browserZoomLevel) +'px )'}" 
                > {{coreData.datumText}} </text>

             <image *ngIf="datumType === 'image'" id="rectImage"
                [ngStyle]="{'clip-path':'inset( 0px ' + (coreData.datumSize[0] - shellSize[0])/browserZoomLevel + 'px ' + ((coreData.datumSize[0]*(imageHeight/imageWidth)) - shellSize[1])/(browserZoomLevel) + 'px 0px round ' + (rectBorderRadius + (coreData.frameThickness/2))/(browserZoomLevel) +'px )'}"
                [attr.href]="coreData.datumText" [attr.width]="coreData.datumSize[0]" />    

         
            <rect [attr.rx]="rectBorderRadius +'px'" ry="10px" class="shellX"
                [attr.x]="frameThickness/2"  [attr.y]="frameThickness/2"  [attr.width]="shellSize[0] - (frameThickness)" [attr.height]="shellSize[1] - (frameThickness)"  
                [attr.stroke-width]="frameThickness" [attr.stroke]="colorFrame" [attr.stroke-opacity]="frameTransparency/100"     
                [attr.fill]="colorBackground" [attr.fill-opacity]="glazingTransparency/100" />
            

        </svg>
    </div>
</div>

<!--coreData.frameTransparency  colorBackground-->
<!--   [ngStyle]="{'clip-path':'inset( 0px ' + (coreData.datumSize[0] - shellSize[0])/browserZoomLevel + 'px ' + (coreData.datumSize[1] - shellSize[1])/browserZoomLevel + 'px 0px )'}" 

[ngStyle]="{'border-radius': (rectBorderRadius + (frameThickness/2)) +'px'}"
-->