:root 
  --ShellWidth: 200px


.coreHitBox
  position: absolute


.core-menu
  margin-top: auto
  margin-bottom: auto
  margin-right: 4px
  height: 34px
  width: 23px
  
.core-menu-handle
  @extend .core-menu
  cursor: move

.core-menu-button
  @extend .core-menu
  border: 1px solid #99afbf
  border-radius: 25%

.dot
  height: 4px
  width: 4px
  margin: auto
  background-color: #a2a3a3
  border-radius: 50%

.icon
  margin-right: 10px
  margin-top: 10px
  width: 8%

::ng-deep .iconText
  position: absolute

.iconAct
  margin-right: 15px
  margin-top: 10px
  width: 6%


.gizmoCont
  position: absolute
  top: 105px
  left: -130px
  width: 90px
  height: 90px
  border-right: 2px solid #d6d6d6
  border-bottom: 2px solid #d6d6d6

.verticalG
  position: absolute
  left: 79px
  top: -10px

.horizontalG
  position: absolute
  top: 79px
  left: -10px

.gizArrowH
  transform: scale(3, 1.5)
  color: #99afbf

.gizArrowV
  transform: scale(1.5, 3)
  color: #99afbf

.bothG
  position: absolute
  top: 84px
  left: 84px
  width: 15px
  height: 15px
  border-radius: 20%
  background-color: #99afbf

.circleSec
  position: absolute
  top: 29px
  left: 29px
  height: 70px
  width: 70px

.rotCircle
  position: absolute
  top: 42px
  left: 42px
  width: 15px
  height: 15px
  border-radius: 50%
  background-color: #99afbf



.iconDesTab
  margin-right: 20px
  width: 12%

.designMenu
  height: 400px
  width: 700px
  border: solid 1px #ccc
  border-radius: 5px
  background: #fff
  padding: 10px
  margin: 0
  overflow: auto 
  resize: both
  min-width: 700px
  min-height: 400px

.desWin2
  height: 100%
  width: 100%

::ng-deep .mat-tab-body-wrapper
  height: 100%


.desTools
  width: 140px
  height: 100%
  border: solid 1px #ccc

.toolRow
  margin: 2px

.iconT
  height: 22px

.iconV
  height: 16px

.checkedDes
  margin-left: 12px

.checkedDes2
  height: 60px

.menuText
  text-align: center
  margin-top: 6px
  color: #787878 


.desDivs
  width: 85%
  border: solid 1px #ccc
  padding: 2%

.closeDragDiv
  top: 0
  right: 0

.closeButton
  width: 100px

.designDragHandle
  top: -5px
  height: 15px
  width: 100%
  radius: 50%
  background-color:#f0f0f0

.dot2
  height: 4px
  width: 4px
  margin: auto
  background-color: black
  border-radius: 50%

.desLineSVG
  width: 100%
  height: 100%

.svgShell
  y: 0px
  x: 0px

.shellX
  stroke-linejoin: round

.svgDesign
  width: 100%
  height: 100%
  
